<div class="col-md-12">
  <h2>
    Topics

    <div class="pull-right">
      <%= form_tag topics_path, method: :get, class: 'form-inline' do %>
        <%= text_field_tag :q, params[:q], id: 'search_topic', class: "form-control" %>
        <%= submit_tag 'Search', class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="clearfix" />
  </h2>

  <hr>

  <% @topics.each do |topic| %>
    <%= render 'panel', topic: topic %>
  <% end %>

  <div class="text-center">
    <%= paginate @topics %>
  </div>

  <% if user_signed_in? %>
    <hr>

    <%= link_to 'New', new_topic_path, class: "btn btn-block btn-primary" %>
  <% end %>
</div>
