<div class="col-md-12">
  <h2>
    Topics

    <div class="pull-right">
      <%= form_tag topics_path, method: :get, class: 'form-inline' do %>
        <%= text_field_tag :q, params[:q], id: 'search_topic', class: "form-control" %>
        <%= submit_tag 'Search', class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="clearfix" />
  </h2>

  <hr>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <th>Subject</th>
        <th>Content</th>
        <th>Author</th>
        <th>Posts</th>
      </thead>
      <tbody>
        <% @topics.each do |topic| %>
          <tr>
            <td><%= link_to topic.subject, topic_path(topic) %></td>
            <td><%= topic.posts.first.content %></td>
            <td><%= topic.user.username %></td>
            <td class="text-center"><%= topic.posts.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if user_signed_in? %>
    <hr>

    <%= link_to 'New', new_topic_path, class: "btn btn-block btn-primary" %>
  <% end %>
</div>
