<div class="col-md-12">
  <h2>Topics</h2>
  <hr>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <th>Subject</th>
        <th>Content</th>
        <th>Author</th>
        <th>Posts</th>
      </thead>
      <tbody>
        <% @topics.each do |topic| %>
          <tr>
            <td><%= link_to topic.subject, topic_path(topic) %></td>
            <td><%= topic.posts.first.content %></td>
            <td><%= topic.user.username %></td>
            <td><%= topic.posts.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <hr>
  <%= link_to 'New', new_topic_path, class: "btn btn-block btn-primary" %>
</div>
